.card{
    text-align: left;
    margin-left: 150px;


}

.card2{
    text-align: center;
    margin-bottom: 15px;
    margin-left: 250px;
    
}

.card3{
    margin-left: 250px;

}
.row{
    text-align: center;
}
.form-control{
    text-align: left;
    margin-left: 150px;

}

.row2{
    margin-top: 5px;
}
.text_center{
    margin-top: 4px;
    
}
.text_center mt-4 text-uppercase{
    text-align: center;
    margin-bottom: 15px;
    margin-left: 250px;

}